.List-items {
  width: 100%;
  max-height: 60vh;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--mp-m);
}

.List-items::-webkit-scrollbar {
  width: 8px;
}

.List-items::-webkit-scrollbar-track {
  background: transparent;
}

.List-items::-webkit-scrollbar-thumb {
  background-color: var(--c-dark);
  border-radius: 20px;
}
