.App {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  position: relative;
}

.Header {
  grid-row: 1/2;
}

.Content {
  grid-row: 2/3;
}


/* @media (min-width: 1024px) {
  .App {
    flex-direction: row;
    align-items: flex-start;
  }
} */
