.Item-card {
  width: 100%;
  padding: var(--mp-s);
  border-radius: var(--br-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--mp-s);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.Item-card--name,
.Item-card--code,
.Item-card--available {
  font-size: var(--f-s);
}

.Item-card--name {
  font-weight: 500;
}