.Search {
  width: 100%;
  padding: 0 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.Search-field-content {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 6.6rem;
  width: 100%;
  height: 5rem;
  padding: 0 var(--mp-xs);
  border-radius: var(--mp-xxs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--c-gray-t);
}

.Search-field {
  width: 100%;
  font-size: var(--f-s);
}
